<div class="panel panel-default panel-info" >
    <div class="panel-heading">{{panel_title}}</div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-3">
                <canvas id="statuses_chart" data-chart-type="pie_chart" data-chart-data="{{statuses_chart|escape}}" data-chart-title="Statuses" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="machines_chart" data-chart-type="pie_chart" data-chart-data="{{machines_chart|escape}}" data-chart-title="Machines" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="tests_chart" data-chart-type="pie_chart" data-chart-data="{{tests_chart|escape}}" data-chart-title="Tests" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="issues_chart" data-chart-type="pie_chart" data-chart-data="{{issues_chart|escape}}" data-chart-title="Issues" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
