{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}Machine {{machine}}'s history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the machine {{machine}}
        <div class="btn-group pull-right">
            {% if perms.CIResults.change_machine %}
            <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu">
                {% if perms.CIResults.change_machine %}
                    <li><a href="{% url 'CIResults-machine-edit' machine.id %}"><span class="glyphicon glyphicon-pencil"/> Edit</a></li>
                {% endif %}
                 <!-- TODO: add suppress / vet methods here -->
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Public</td><td>{{machine.public}}</td></tr>
                <tr><td>First seen</td><td>{{machine.added_on}}</td></tr>
                <tr><td>Vetted On</td><td>{{machine.vetted_on|default:"Not vetted yet"}}</td></tr>
                <tr><td>Tags</td><td>{{machine.tags.all|csl:"tag:CIResults/basic/machine_tag.html"}}</td></tr>
                {% if machine.aliases is not None %}<tr><td>Parent machine</td><td>{% include "CIResults/basic/machine.html" with machine=machine.aliases %}</td></tr>{% endif %}
                <tr><td>Children machines</td><td>{{machine.machine_set.all|csl:"machine:CIResults/basic/machine.html"}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
