{% extends 'CIResults/base.html' %}

{% block title %}Test Edit{% endblock %}

{% block content %}
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Edit {{test}}
        </div>
        <div class="panel-body panel-collapse collapse in">
            <div class="container-fluid">
                <form class="form-inline search_bar" method='post'>{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-2">Edit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
